html {
    
    font-size:15px;
    color:#16161d;
    background:white;
}
div#inputs {
    font-size: 15px;
    margin:auto;
    padding:20px;
    max-width:600px;
    text-align:center;
}

input {
    min-width:194px;
    text-align:center;
}

input#button {
    width:100px;
    background:#16161d;
    color:white;
    border-radius:4px;
    text-align:center;
}

div#answer, div#heading {
    font-family:'Doses',Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin:auto;
    width:80%;
    padding:20px;
    text-align:center;
}

div#heading {
    font-family:'Poiret One',Arial, Helvetica, sans-serif;
}